.App {
    width: 100%;
    height: auto;
    background: rgb(2,0,36);
    background: linear-gradient(
        0deg,
        rgba(2,0,36,1) 0%,
        rgba(9,92,121,1) 0%,
        rgba(0,212,255,1) 80%,
        rgba(0,212,255,1) 92%,
        rgba(0,212,255,1) 100%);
}